In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_path = '../assignmentData/game_events.csv'
df = pd.read_csv(file_path)

In [3]:
print(df.head())

print(df.info())

print(df.describe())

                      game_event_id        date  game_id  minute  \
0  2f41da30c471492e7d4a984951671677  2012-08-05  2211607      77
1  a72f7186d132775f234d3e2f7bc0ed5b  2012-08-05  2211607      77
2  b2d721eaed4692a5c59a92323689ef18  2012-08-05  2211607       3
3  aef768899cedac0c9a650980219075a2  2012-08-05  2211607      53
4  5d6d9533023057b6619ecd145a038bbe  2012-08-05  2211607      74

            type  club_id  player_id  \
0          Cards      610       4425
1          Cards      383      33210
2          Goals      383      36500
3          Goals      383      36500
4  Substitutions      383      36500

                                         description  player_in_id  \
0               1. Yellow card  , Mass confrontation           NaN
1               1. Yellow card  , Mass confrontation           NaN
2  , Header, 1. Tournament Goal Assist: , Corner,...           NaN
3  , Right-footed shot, 2. Tournament Goal Assist...           NaN
4                                     , Not reported       49499.0

   player_assist_id
0               NaN
1               NaN
2           56416.0
3          146258.0
4               NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666558 entries, 0 to 666557
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   game_event_id     666558 non-null  object
 1   date              666558 non-null  object
 2   game_id           666558 non-null  int64
 3   minute            666558 non-null  int64
 4   type              666558 non-null  object
 5   club_id           666558 non-null  int64
 6   player_id         666558 non-null  int64
 7   description       330233 non-null  object
 8   player_in_id      421249 non-null  float64
 9   player_assist_id  30857 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 50.9+ MB
None
            game_id         minute        club_id     player_id  player_in_id  \
count  6.665580e+05  666558.000000  666558.000000  6.665580e+05  4.212490e+05
mean   3.051644e+06      63.503254    4595.409720  2.010716e+05  2.429946e+05
std    6.079955e+05      21.927700   10915.447142  1.878795e+05  2.082146e+05
min    2.211607e+06      -1.000000       1.000000  1.000000e+01  1.000000e+01
25%    2.483327e+06      51.000000     336.000000  5.714400e+04  7.422300e+04
50%    3.047444e+06      68.000000     984.000000  1.403100e+05  1.884980e+05
75%    3.589539e+06      80.000000    3026.000000  2.912000e+05  3.481990e+05
max    4.228114e+06     120.000000  112755.000000  1.207623e+06  1.207623e+06

       player_assist_id
count      3.085700e+04
mean       1.301114e+05
std        1.752904e+05
min        1.000000e+01
25%        3.134800e+04
50%        6.044400e+04
75%        1.404460e+05
max        1.207623e+06

In [4]:
print(df.isnull().sum())

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description         336325
player_in_id        245309
player_assist_id    635701
dtype: int64

In [5]:
missing_data_rows = df['player_assist_id'].isnull().sum()
total_rows = len(df)
print('Numero totale di tuple: ', total_rows)
missing_data_percentage = (missing_data_rows / total_rows) * 100
print(f'Percentuale di righe con dati mancanti: {missing_data_percentage:.2f}%')

Numero totale di tuple:  666558
Percentuale di righe con dati mancanti: 95.37%

In [6]:
missing_data_rows = df['player_in_id'].isnull().sum()
total_rows = len(df)
print('Numero totale di tuple: ', total_rows)
missing_data_percentage = (missing_data_rows / total_rows) * 100
print(f'Percentuale di righe con dati mancanti: {missing_data_percentage:.2f}%')

Numero totale di tuple:  666558
Percentuale di righe con dati mancanti: 36.80%

In [7]:
missing_data_rows = df['description'].isnull().sum()
total_rows = len(df)
print('Numero totale di tuple: ', total_rows)
missing_data_percentage = (missing_data_rows / total_rows) * 100
print(f'Percentuale di righe con dati mancanti: {missing_data_percentage:.2f}%')

Numero totale di tuple:  666558
Percentuale di righe con dati mancanti: 50.46%

In [8]:
df = df.drop('player_assist_id', axis=1)

In [9]:
df

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0
...,...,...,...,...,...,...,...,...,...
666553,7f5a6b61ca858e0cd63a58c554b56bb7,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical",965607.0
666554,5b93d1bc9e8bf42965682d491e1dd6c7,2023-11-15,4228114,44,Goals,46889,922572,", Penalty, 1. Tournament Goal",NaN
666555,d638b1e72f531c413487d413258a3130,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical",1200869.0
666556,0ff7774aa1383af83e40c435325463af,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical",921121.0
666557,c2ba59ead8ee0f17e74e49c506e0d92f,2023-11-15,4228114,85,Goals,358,1203715,", Right-footed shot, 1. Tournament Goal",NaN

In [10]:
print(df.duplicated().sum())

0

In [11]:
cleaned_file_path = '../cleanedData/game_eventsCleaned.csv'
if not os.path.exists(cleaned_file_path):
    df.to_csv(cleaned_file_path, index=False)
    print(f"File '{cleaned_file_path}' creato con successo.")
else:
    df.to_csv(cleaned_file_path, index=False, mode='w')

File '../cleanedData/game_eventsCleaned.csv' creato con successo.