In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_path = '../assignmentData/player_valuations.csv'
df = pd.read_csv(file_path)

In [3]:
print(df.head())

print(df.info())

print(df.describe())

   player_id  last_season             datetime        date    dateweek  \
0       3132         2013  2003-12-09 00:00:00  2003-12-09  2003-12-08
1       6893         2012  2003-12-15 00:00:00  2003-12-15  2003-12-15
2         10         2015  2004-10-04 00:00:00  2004-10-04  2004-10-04
3         26         2017  2004-10-04 00:00:00  2004-10-04  2004-10-04
4         65         2015  2004-10-04 00:00:00  2004-10-04  2004-10-04

   market_value_in_eur  n  current_club_id player_club_domestic_competition_id
0               400000  1              126                                 TR1
1               900000  1              984                                 GB1
2              7000000  1              398                                 IT1
3              1500000  1               16                                  L1
4              8000000  1             1091                                 GR1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440663 entries, 0 to 440662
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            440663 non-null  int64
 1   last_season                          440663 non-null  int64
 2   datetime                             440663 non-null  object
 3   date                                 440663 non-null  object
 4   dateweek                             440663 non-null  object
 5   market_value_in_eur                  440663 non-null  int64
 6   n                                    440663 non-null  int64
 7   current_club_id                      440663 non-null  int64
 8   player_club_domestic_competition_id  440663 non-null  object
dtypes: int64(5), object(4)
memory usage: 30.3+ MB
None
          player_id    last_season  market_value_in_eur         n  \
count  4.406630e+05  440663.000000         4.406630e+05  440663.0
mean   1.964113e+05    2018.762887         2.357557e+06       1.0
std    1.793622e+05       3.624305         6.603356e+06       0.0
min    1.000000e+01    2012.000000         1.000000e+04       1.0
25%    5.532200e+04    2016.000000         2.000000e+05       1.0
50%    1.407480e+05    2019.000000         5.000000e+05       1.0
75%    2.896450e+05    2022.000000         1.600000e+06       1.0
max    1.166093e+06    2023.000000         2.000000e+08       1.0

       current_club_id
count    440663.000000
mean       4041.891491
std        9508.375247
min           3.000000
25%         368.000000
50%        1010.000000
75%        2944.000000
max       83678.000000

In [4]:
print(df.isnull().sum())

player_id                              0
last_season                            0
datetime                               0
date                                   0
dateweek                               0
market_value_in_eur                    0
n                                      0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [5]:
df

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1
...,...,...,...,...,...,...,...,...,...
440658,950091,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,1000000,1,1091,GR1
440659,968903,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,1,653,GR1
440660,1031590,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,1,6418,GR1
440661,1166093,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,1,30120,GR1
440662,405676,2018,2023-12-19 00:00:00,2023-12-19,2023-12-18,50000,1,23826,L1

In [6]:
unique_values = df["n"].unique()
print(f"Valori unici: {unique_values}")

Valori unici: [1]

In [7]:
df = df.drop('n', axis=1)
df

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1091,GR1
...,...,...,...,...,...,...,...,...
440658,950091,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,1000000,1091,GR1
440659,968903,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,653,GR1
440660,1031590,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,6418,GR1
440661,1166093,2023,2023-09-21 00:00:00,2023-09-21,2023-09-18,50000,30120,GR1
440662,405676,2018,2023-12-19 00:00:00,2023-12-19,2023-12-18,50000,23826,L1

In [8]:
print(df.duplicated().sum())

0

In [9]:
cleaned_file_path = '../cleanedData/player_valuationsCleaned.csv'
if not os.path.exists(cleaned_file_path):
    df.to_csv(cleaned_file_path, index=False)
    print(f"File '{cleaned_file_path}' creato con successo.")
else:
    df.to_csv(cleaned_file_path, index=False, mode='w')

File '../cleanedData/player_valuationsCleaned.csv' creato con successo.